.container2{
    border: 1px solid black;
    width: 75%;
    margin:0 auto;
    text-align: center;
    
}
.flexbox_container2{
   display:flex;
   flex-wrap:wrap;
   justify-content:space-around;
   border: 1px solid black;
}
.flexbox_container2 img{
   margin: 10px;
   height: 25%;
   width:25%;
   box-shadow: 0px 10px 50px;
}
